{% extends "app/base.html" %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
    <a href="javascript:history.go(-1) " class=" border border-dark text-dark ml-2">Retour</a>

        <div class="text-center border border-dark col-md-6 offset-3 mb-5">
            <h1>LISTE DES CERTIFICATIONS</h1>
            <a href="{% url 'matrice:Ajouter_Domaines_Compétences' %}">Ajouter une certification</a>
        </div>
        <div class="text-center text-success " >
            {% if messages %}
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
            {% endif %}
        </div>
        <div class="page-title col-md-10 offset-1 text-center">
            <div class="row">
                <div class="col-md-12 ">
                    <table class="mb-5 mt-5">
                        {% for certification in certification%}
                            <p>{{ certification.name | upper}}</p>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
