{% extends "app/base.html" %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
    <a href="javascript:history.go(-1)" class=" border border-dark text-dark ml-2">Retour</a>
    <div class="text-center border border-dark col-md-6 offset-3 mb-5">
        <h1>LISTE DES COMPETENCES</h1>
        <a href="{% url 'matrice:Ajouter_Domaines_Compétences' %}">Ajouter une compétence</a>
    </div>
        <div class="text-center text-success " >
            {% if messages %}
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
            {% endif %}
        </div>
        <div class="page-title">
            <div class="row col-md-10 offset-1 text-center">
                {% for field in field %}
                <div class="card shadow mb-4 col-md-4  text-center ">
                    <table class="mb-5 mt-5 col-md-10 offset-1 text-center">
                        <h4 class="text-danger">{{ field.name}}</h4>
                            {% for competence in competence%}
                                {% if competence.field_id == field.id %}
                        <tr height="50">
                            <td  scope="row">
                                <p>{{ competence.name | upper}}</p>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}