{% extends "app/base.html" %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
    <a href="javascript:history.go(-1)" class=" border border-dark text-dark ml-2">Retour</a>

    <div class="text-center border border-dark col-md-6 offset-3 mb-5">
        <h1>LISTE DES DOMAINES</h1>
        <a href="{% url 'matrice:Ajouter_Domaines_Compétences' %}">Ajouter un domaine</a>
    </div>
        <div class="text-center text-success " >
            {% include 'app/messages.html'%}
        </div>
        <div class="page-title">
            <div class="row col-md-10 offset-1 text-center">
                <div class="col-md-10 offset-1 text-center ">
                    <table class="mb-5 mt-5 col-md-10 offset-1 text-center">
                        <h4 class="text-danger">{{ field.name}}</h4>
                                {% for field in field %}
                                {% comment %} {% if competence.field_id == field.id %} {% endcomment %}
                        <tr height="50">
                            <td width="400" scope="row">
                                <p>{{ field.name | upper}}</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}