{% extends 'app/base.html' %}

{% block content %} 
<div class="right_col" role="main">
    <div class="">
    <a href="javascript:history.go(-1)">Retour</a>
        <div class="page-title">
                <div class="text-center  text-success" >
                    {% include 'app/messages.html'%}
                </div> 

            {% if user.is_authenticated%}
                {% comment %} {% for profil in profil %}
                    {% if profil.user_id == user.id%}  {% endcomment %}
                <div class="col-12 text-center">
                    <h1>{{ user.last_name }} {{ user.first_name }}</h1>
                    <h2>{{ profil.society.name }}</h2>
                    <h2>{{ profil.workstation.name }}</h2>

                </div>
            {% comment %} {% endif %}
            {% endfor %} {% endcomment %}
            {% endif %}
                <div class="">
                <div class="text-center text-success " >
                </div> 
                    <div class="col-md-12"> 
                    <div id=""></div>
                        <div>
                        <form method="POST" class="post-form" class="my-ajax-form" >
                                {% csrf_token %}
                                {{ form4.as_p}}
                                <button type="submit" name="btnform2" class="save btn btn-default">VALIDER</button>
                        </form> 
                        </div>
                    </div> 
                </div>
        </div>
    </div>
</div>
{% endblock %}
