            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'matrice:index' %}">
                    <span>Accueil</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Utilisateur
            </div>
            {% if user.is_authenticated %}
              {% if user.is_staff == False %}

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <span>MENU</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="" >Mon profil</a>
                        <a class="collapse-item" href="">Formulaires Informations</a>
                        <a class="collapse-item" href="">Formulaire  Compétences</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            </ul>
        <!-- End of Sidebar -->
<!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
            {% else %}
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <span>MENU</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'matrice:Mon_profil' user_id=user.id %}" >Mon profil</a>
                        <a class="collapse-item" href="">Formulaires Informations</a>
                        <a class="collapse-item" href="">Formulaire  Copétences</a>
                    </div>
                </div>
            </li>
            <!-- Heading -->
            <div class="sidebar-heading">
                Admin
            </div>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <span>MENU</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Listes:</h6>
                        <a class="collapse-item" href="{% url 'matrice:Liste_des_utilisateurs' %}" >Liste des utilisateurs</a>
                        <a class="collapse-item" href="{% url 'matrice:Liste_des_collaborateurs' %}">Liste des collaborateurs</a>
                        <a class="collapse-item" href="{% url 'matrice:Liste_des_domaines' %}">Liste des domaines</a>
                        <a class="collapse-item" href="{% url 'matrice:Liste_des_compétences' %}">Liste des compétences</a>
                        <a class="collapse-item" href="{% url 'matrice:Liste_des_certifications' %}">Liste des certifications</a>
                        <a class="collapse-item" href="{% url 'matrice:Liste_des_sociétés' %}">Liste des sociétés</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Formulaires:</h6>
                        <a class="collapse-item" href="{% url 'matrice:Enregistrement' %}">Ajouter : <br/>Utilisateur<br/>Collaborater
                        {% comment %} <a class="collapse-item" href="{% url 'matrice:Ajouter_un_collaborateur' %}">Ajouter un collaborateur</a> {% endcomment %}
                        <a class="collapse-item" href="{% url 'matrice:Ajouter_Domaines_Compétences' %}">Ajouter : <br/>Domaine<br/>Compétences<br/>Certifications<br/>Sociétés</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
        </ul>
        <!-- End of Sidebar -->
<!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                        {% endif %}
                {% endif %}
