
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                 <!-- Topbar Search -->
                        <div class="input-group">
                            <div class="input-group-append mr-2 d-none d-lg-inline text-gray-600 small">
                                <h6>MATRICE DES COMPÉTENCES AOOMUKI</h6>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-append mr-2 d-none d-lg-inline text-danger ">
                                      <span>Bienvenue {{user.last_name| upper}} {{user.first_name| upper}}</span>

                            </div>
                        </div>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                                {% if user.is_authenticated %}
                    <a href="{% url 'matrice:Deconnexion' %}"></i>Déconnexion</a>
                    {% endif%}
                    </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                        
