
{% extends 'app/base.html' %}
{% load crispy_forms_tags %}

{% block content %} 

<div class="right_col" role="main">
    <div class="">
    <a href="javascript:history.go(-1)" class=" border border-dark text-dark ml-2">Retour</a>
        <div class="text-center  text-primary border border-dark col-md-6 offset-3 mb-5">
                <h1>MODIFIER MON MOT DE PASSE</h1>
        </div>
            <div class="text-center text-success " >
                {% include 'app/messages.html'%}
            </div> 
            <div class="col-md-10 offset-1 mb-5" >
                <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">Valider</button>
                </form>
            </div> 
        </div>
    </div>
</div>

{% endblock %}
